extends layout

block content
  h1= title 
  

  h1 List of instructors:
  for instructor in instructor_list
    | Name: 
    a(href=instructor.url) #{instructor.name}
    p School: #{instructor.school.title}
    br

